@import url("./main.css");

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #575757;
    text-align: right;
}
.principal{
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.titulo{
    font-size: 39px;
    margin-right: 44px;
    margin-left: 0px;
    padding-right: 50px;
    margin-bottom: 10px;
}


.formulario-mensagem{
    width: 100%; 
    height: 51px;
    margin-bottom: 10px;
}

.espacamento{
    width: 538px;
    height: 26px;
    margin-bottom: 10px;
}

.cor{
    background-color: #9B9B9B;
}
.texto{
    margin-left: 15px;
    padding-bottom: 190px;
}
.envio{
    background-color: #C2185B;
    width: 100%;
    color: #FFFFFF;
    border: none;
    padding: 10px 0px 10px 0px;
    margin-top: 10px;
}
.envio:hover{
    background-color: #FFFFFF;
    color: #C2185B;
    box-shadow: 5px 5px #7c7c7c;
    transition: all 3s;
}

.btn-arquivo{
    display: none;
}

.label-btn{
    width: 236px;
    height: 21px;
    background-color: #c4c4c4;
    padding: 0px 38px 0px 38px;
}

.margin-label{
    margin-right: 25px;
}

.margin-check {
    margin-top: 10px;
    margin-bottom: 10px;
}

.faixa{
    width: 100%;
    height: 60px;
    top: 0;
    position: sticky;
    background-color: #C2185B;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    padding: 15px;
}